header {
    background-color: #3E4BA5;
}

.btn-primary,
.btn-secondary {
    min-width: 300px;
}

.day-forecast {
    background-color: #323D4E;
}



.btn {
    display: flex;
    justify-content: center;
    flex-grow: 1;
}